<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-item id="itemUsuario" aria-label="Usuario">
      <ion-label id="usuario" aria-labelledby="itemUsuario" position="stacked" >Usuario<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" aria-labelledby="itemUsuario" name="usuario" placeholder="Ingrese su usuario" required></ion-input>
    </ion-item>
    <ion-item id="itemContraseña" aria-label="contraseña">
      <ion-label id="contrasena" aria-labelledby="itemContraseña" position="stacked">Contraseña<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" aria-labelledby="itemContraseña" name="contrasena" placeholder="Ingrese su contraseña" required></ion-input>
    </ion-item>
    <a href="#">¿Olvido su contraseña?</a>
    <ion-button expand="block" type="submit">Iniciar Sesión</ion-button>
  </form>
  <ion-footer>
    <div class="">
      <p class=""><span>&copy;&nbsp;2020 Turismo Accesible</span>.</p>
      <ul>
        <li style="display:inline;"><ion-icon name="logo-facebook"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-twitter"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-googleplus"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-vimeo"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-youtube"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-pinterest"></ion-icon><span>&nbsp;&nbsp;</span></li>
      </ul>
    </div>
  </ion-footer>
</ion-content>
