<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-item id="itemUsuario" aria-label="Usuario">
      <ion-label id="usuario" aria-labelledby="itemUsuario" position="stacked">Usuario<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" aria-labelledby="itemUsuario" name="usuario" placeholder="Ingrese un usuario" required></ion-input>
    </ion-item>
    <ion-item id="itemContrasena" aria-label="contraseña">
      <ion-label id="contrasena" aria-labelledby="itemContrasena" position="stacked">Contraseña<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" aria-labelledby="itemContrasena" name="contrasena" placeholder="Ingrese una contraseña" required></ion-input>
    </ion-item>
    <ion-item id="itemConfContrasena" aria-label="confirmación contraseña">
      <ion-label id="confContrasena" aria-labelledby="itemConfContrasena" position="stacked">Confirmación Contraseña<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" aria-labelledby="itemConfContrasena" name="confContrasena" placeholder="Confirme la Contraseña" required></ion-input>
    </ion-item>
    <ion-item id="itemCorreo" aria-label="correo">
      <ion-label id="correo"  aria-labelledby="itemCorreo" position="stacked">Correo<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" aria-labelledby="itemCorreo" name="correo" placeholder="Ingrese su correo" required></ion-input>
    </ion-item>
    <ion-item id="itemGenero" aria-label="Escoger genero">
      <!-- <ion-label position="stacked">Genero<ion-text color="danger">*</ion-text></ion-label> -->
      <ion-list>
        <ion-radio-group required>
          <ion-list-header>
            <ion-label aria-labelledby="itemGenero">Genero<ion-text color="danger">*</ion-text></ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label id="genero Hombre" aria-label="Escogio genero hombre">Hombre</ion-label>
            <ion-radio aria-labelledby="genero Hombre" slot="start" value="Hombre"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label id="genero mujer" aria-label="Escogio genero mujer">Mujer</ion-label>
            <ion-radio aria-labelledby="genero mujer" slot="start" value="Mujer"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>
    <ion-button expand="block" type="submit">Crear cuenta</ion-button>
  </form>
  <ion-footer>
    <div class="">
      <p class=""><span>&copy;&nbsp;2020 Turismo Accesible</span>.</p>
      <ul>
        <li style="display:inline;"><ion-icon name="logo-facebook"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-twitter"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-googleplus"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-vimeo"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-youtube"></ion-icon><span>&nbsp;&nbsp;</span></li>
        <li style="display:inline;"><ion-icon name="logo-pinterest"></ion-icon><span>&nbsp;&nbsp;</span></li>
      </ul>
    </div>
  </ion-footer>
</ion-content>
